<div class="container pt-2" id="Management">
  <div class="row justify-content-center">
    <button
        type="button"
        class="btn btn-raised btn-lg btn-primary"
        data-toggle="popover"
        title="{{ t.sections.management.title }}"
        data-content="{{ t.sections.management.tooltip }}"
    >{{ t.sections.management.title }}</button>
  </div>
  <div class="row pt-3 justify-content-center">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <caption class="sr-only">{{ t.sections.management.tables.cash_flow_caption }}</caption>
          <thead class="thead-light">
            <tr id="debt_title_labels">
              <th scope="col">{{ t.sections.management.tables.long_term_debt }}</th>
              <th scope="col">{{ t.sections.management.tables.free_cash_flow }}</th>
              <th scope="col">{{ t.sections.management.tables.years_to_pay }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="total_debt">-</td>
              <td id="free_cash_flow">-</td>
              <td id="debt_payoff_time">-</td>
           </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <caption class="sr-only">{{ t.sections.management.tables.de_ratio_caption }}</caption>
          <thead class="thead-light">
            <tr id="debt_equity_title_label">
              <th scope="col">{{ t.sections.management.tables.de_ratio }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="debt_equity_ratio">-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>