<div class="container pb-2 pt-2" id="Margin of Safety">
  <div class="row justify-content-center">
    <button
        type="button"
        class="btn btn-raised btn-lg btn-primary"
        data-toggle="popover"
        title="{{ t.sections.margin_of_safety.title }}"
        data-content="{{ t.sections.margin_of_safety.tooltip }}"
    >{{ t.sections.margin_of_safety.title }}</button>
  </div>
  <div class="row pt-3 justify-content-center">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <caption class="sr-only">{{ t.sections.margin_of_safety.tables.sticker_caption }}</caption>
          <thead class="thead-light">
            <tr id="margin_of_safety_title_label">
              <th scope="col">{{ t.sections.margin_of_safety.tables.sticker }}</th>
            </tr>
          </thead>
          <tbody>
            <tr id="margin_of_safety_prices">
              <td id="sticker_price">-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <caption class="sr-only">{{ t.sections.margin_of_safety.tables.mos_caption }}</caption>
          <thead class="thead-light">
            <tr id="margin_of_safety_price_title_label">
              <th scope="col">{{ t.sections.margin_of_safety.tables.mos_price }}</th>
            </tr>
          </thead>
          <tbody>
            <tr id="margin_of_safety_price_row">
              <td id="margin_of_safety_price">-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <caption class="sr-only">{{ t.sections.margin_of_safety.tables.current_price_caption }}</caption>
          <thead class="thead-light">
            <tr id="current_price_title_label">
              <th scope="col">{{ t.sections.margin_of_safety.tables.current_price }}</th>
            </tr>
          </thead>
          <tbody>
            <tr id="current_price_row">
              <td id="current_price">-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>