<div class="container pt-2" id="Moat">
  <div class="row justify-content-center">
    <button
        type="button"
        class="btn btn-raised btn-lg btn-primary"
        data-toggle="popover"
        title="{{ t.sections.moat.title }}"
        data-content="{{ t.sections.moat.tooltip }}"
    >{{ t.sections.moat.title }}</button>
  </div>

  <div class="row pt-3 justify-content-center">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <caption class="sr-only">{{ t.sections.moat.tables.roic }}</caption>
          <thead class="thead-light">
            <tr>
              <th scope="col" colspan="4">{{ t.sections.moat.tables.roic }}</th>
            </tr>
            <tr>
              <th scope="col" id="roic_max">{{ t.sections.moat.tables.max }}</th>
              <th scope="col">{{ t.sections.moat.tables.five_year }}</th>
              <th scope="col">{{ t.sections.moat.tables.three_year }}</th>
              <th scope="col">{{ t.sections.moat.tables.one_year }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="roic_max_val">-</td>
              <td id="roic_5_val">-</td>
              <td id="roic_3_val">-</td>
              <td id="roic_1_val">-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <caption class="sr-only">{{ t.sections.moat.tables.equity }}</caption>
          <thead class="thead-light">
            <tr>
              <th scope="col" colspan="4">{{ t.sections.moat.tables.equity }}</th>
            </tr>
            <tr>
              <th scope="col" id="equity_max">{{ t.sections.moat.tables.max }}</th>
              <th scope="col">{{ t.sections.moat.tables.five_year }}</th>
              <th scope="col">{{ t.sections.moat.tables.three_year }}</th>
              <th scope="col">{{ t.sections.moat.tables.one_year }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="equity_max_val">-</td>
              <td id="equity_5_val">-</td>
              <td id="equity_3_val">-</td>
              <td id="equity_1_val">-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <caption class="sr-only">{{ t.sections.moat.tables.eps }}</caption>
          <thead class="thead-light">
            <tr>
              <th scope="col" colspan="4">{{ t.sections.moat.tables.eps }}</th>
            </tr>
            <tr>
              <th scope="col" id="eps_max">{{ t.sections.moat.tables.max }}</th>
              <th scope="col">{{ t.sections.moat.tables.five_year }}</th>
              <th scope="col">{{ t.sections.moat.tables.three_year }}</th>
              <th scope="col">{{ t.sections.moat.tables.one_year }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="eps_max_val">-</td>
              <td id="eps_5_val">-</td>
              <td id="eps_3_val">-</td>
              <td id="eps_1_val">-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <caption class="sr-only">{{ t.sections.moat.tables.sales }}</caption>
          <thead class="thead-light">
            <tr>
              <th scope="col" colspan="4">{{ t.sections.moat.tables.sales }}</th>
            </tr>
            <tr>
              <th scope="col" id="sales_max">{{ t.sections.moat.tables.max }}</th>
              <th scope="col">{{ t.sections.moat.tables.five_year }}</th>
              <th scope="col">{{ t.sections.moat.tables.three_year }}</th>
              <th scope="col">{{ t.sections.moat.tables.one_year }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="sales_max_val">-</td>
              <td id="sales_5_val">-</td>
              <td id="sales_3_val">-</td>
              <td id="sales_1_val">-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <caption class="sr-only">{{ t.sections.moat.tables.cash }}</caption>
          <thead class="thead-light">
            <tr>
              <th scope="col" colspan="4">{{ t.sections.moat.tables.cash }}</th>
            </tr>
            <tr>
              <th scope="col" id="cash_max">{{ t.sections.moat.tables.max }}</th>
              <th scope="col">{{ t.sections.moat.tables.five_year }}</th>
              <th scope="col">{{ t.sections.moat.tables.three_year }}</th>
              <th scope="col">{{ t.sections.moat.tables.one_year }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="cash_max_val">-</td>
              <td id="cash_5_val">-</td>
              <td id="cash_3_val">-</td>
              <td id="cash_1_val">-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>