<div class="container pb-2 pt-2" id="Ten Cap">
  <div class="row justify-content-center">
    <button
        type="button"
        class="btn btn-raised btn-lg btn-primary"
        data-toggle="popover"
        title="{{ t.sections.ten_cap.title }}"
        data-content="{{ t.sections.ten_cap.tooltip }}"
    >{{ t.sections.ten_cap.title }}</button>
  </div>

  <div class="row pt-3 justify-content-center">
    <div class="col-sm-6 col-lg-4">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <caption class="sr-only">{{ t.sections.ten_cap.tables.caption }}</caption>
          <thead class="thead-light">
            <tr id="ten_cap_title_label">
              <th scope="col">{{ t.sections.ten_cap.tables.header }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="ten_cap_price">-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
